.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    box-shadow:
      0px 20px 40px rgb(191, 139, 255),
      0px -20px 40px rgb(191, 139, 255),
      20px 0px 40px rgb(191, 139, 255),
      -20px 0px 40px rgb(191, 139, 255);
    border-radius: 10em;
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
